.commentbox iframe {
  width: 100%;  /* Ensures the iframe takes the full width of its container */
  height: 75vh; /* 75% of the viewport height, adjust based on your design needs */
  border: none; /* Optional: removes the border around the iframe */
  overflow: scroll
}